.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 2rem;

    &__button1{
        background-color: rgb(65, 88, 222);
        border-radius: 50%;
        padding: 2rem;
        border: none;
    }

    &__img{
        height: 15rem;
        width: 15rem;
    }

    &__button2{
        background-color: rgb(65, 88, 222);
        border-radius: 4px;
        border: none;
        margin: 1rem;
    }
}