.clean {    
    background-color: pink;
    border-radius: 4px;
    text-align: center;
    font-size: 0.8125rem;
    color: white;
    font-weight: bold;
    padding: 1rem 2rem;
    width: 10rem;
    margin: 1rem;
    border: none;
    margin: auto;
    display:flex;
    justify-content: center;
}